body{
    font-family: 'Roboto','sans-serif';
    background-image: url(/images/bg1.jpg);
    background-size: cover;
    backface-visibility: hidden;
}
.table-striped>tbody>tr:nth-child(even)>td, 
 {
   background-color:beige; 
}
.first-row{
    padding-top: 1%;
}